{{#extend "default"}}
  {{#content "main"}}
  
  <div class="lesson-nav">
    {{#if previous}}
      <a class="prev" href="/lessons/{{{previous.url}}}/">&larr; {{{previous.title}}}</a>
    {{/if}}
    {{#if next}}
      <a class="next right" href="/lessons/{{{next.url}}}/">{{{next.title}}} &rarr;</a>
    {{/if}}
  </div>

    <header class="tac">
      <h1>{{{this.title}}}</h1>
      <p class="attention-grabber">{{{this.description}}}</p>
    </header>
    <hr>

    {{{contents}}}

    <hr>

    <div class="lesson-nav">
      {{#if previous}}
        <a class="prev" href="/lessons/{{{previous.url}}}/">&larr; {{{previous.title}}}</a>
      {{/if}}
      {{#if next}}
        <a class="next right" href="/lessons/{{{next.url}}}/">{{{next.title}}} &rarr;</a>
      {{/if}}
    </div>

  {{/content}}
{{/extend}}
