---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import "../styles/app.scss";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />

    <title><slot name="title" /></title>
    <meta name="description" content="<slot name='description' />" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link
      href="https://fonts.googleapis.com/css?family=Domine"
      rel="stylesheet"
    />
  </head>
  <body data-function="<slot name='function' />">
    <!--[if lt IE 8]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <div class="container-fluid">
      <Header />

      <main>
        <slot />
      </main>

      <Footer />
    </div>
    <script>
      var refTagger = {
        settings: {
          bibleVersion: "ESV",
        },
      };
      (function (d, t) {
        var g = d.createElement(t),
          s = d.getElementsByTagName(t)[0];
        "src" in g ? (g.src = "//api.reftagger.com/v2/RefTagger.js") : null;
        s.parentNode?.insertBefore(g, s);
      })(document, "script");
    </script>
    <slot name="scripts" />
  </body>
</html>
