---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import "../styles/app.scss";
const pageTitle = Astro.props.content?.title
  ? `${Astro.props.content.title} | Parenting Biblically`
  : "Parenting Biblically";
const pageDescription =
  Astro.props.content?.description ||
  "A free course for Christian parents, based on the Bible";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />

    <title>{pageTitle}</title>
    <meta name="description" content={pageDescription} />
    <link rel="icon" href="/favicon.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body data-function="<slot name='function' />">
    <!--[if lt IE 8]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <div class="container-fluid">
      <Header />

      <main>
        <slot />
      </main>

      <Footer />
    </div>
    <script>
      var refTagger = {
        settings: {
          bibleReader: "bible.faithlife",
          bibleVersion: "HCSB",
          socialSharing: ["twitter", "facebook", "google"],
          customStyle: {
            heading: {
              backgroundColor: "#000000",
              color: "#000000",
            },
            body: {
              color: "#000000",
            },
          },
        },
      };
      (function (d, t) {
        var n = d.querySelector("[nonce]");
        // @ts-ignore
        refTagger.settings.nonce = n && (n.nonce || n.getAttribute("nonce"));
        var g = d.createElement(t),
          s = d.getElementsByTagName(t)[0];
        // @ts-ignore
        g.src = "https://api.reftagger.com/v2/RefTagger.js";
        // @ts-ignore
        g.nonce = refTagger.settings.nonce;
        // @ts-ignore
        s.parentNode.insertBefore(g, s);
      })(document, "script");
    </script>
    <slot name="scripts" />
  </body>
</html>
