// =============================================================================
// String Replace
// =============================================================================

@function str-replace($string, $search, $replace: "") {
	$index: str-index($string, $search);

	@if $index {
		@return str-slice($string, 1, $index - 1) + $replace + str-replace(str-slice($string, $index + str-length($search)), $search, $replace);
	}

	@return $string;
}

// =============================================================================
// Font Face
// =============================================================================

@mixin font-face($name, $path, $weight: null, $style: null, $exts: eot woff2 woff ttf svg) {
	$src: null;

	$extmods: (
		eot: "?",
		svg: "#" + str-replace($name, " ", "_")
	);

	$formats: (
		otf: "opentype",
		ttf: "truetype"
	);

	@each $ext in $exts {
		$extmod: if(map-has-key($extmods, $ext), $ext + map-get($extmods, $ext), $ext);
		$format: if(map-has-key($formats, $ext), map-get($formats, $ext), $ext);
		$src: append($src, url(quote($path + "." + $extmod)) format(quote($format)), comma);
	}

	@font-face {
		font-family: quote($name);
		font-style: $style;
		font-weight: $weight;
		src: $src;
	}
}


@include font-face("Tiempos Text", "fonts/tiempos/TiemposText-Regular", normal, normal, eot ttf woff);
@include font-face("Tiempos Text", "fonts/tiempos/TiemposText-RegularItalic", normal, italic, eot ttf woff);
@include font-face("Tiempos Text", "fonts/tiempos/TiemposText-Semibold", bold, normal, eot ttf woff);

@include font-face("Tiempos Headline", "fonts/tiempos/TiemposHeadlineWeb-Medium", bold, normal, woff);

@include font-face("Lyon Text", "fonts/lyon-text/LyonText-Regular-Web", normal, normal, woff);
@include font-face("Lyon Text", "fonts/lyon-text/LyonText-RegularItalic-Web", normal, italic, woff);

@include font-face("Miller Display", "fonts/miller-display/MillerDisplayRoman", normal, normal, eot svg ttf woff woff2);
@include font-face("Miller Display", "fonts/miller-display/MillerDisplayItalic", normal, italic, eot svg ttf woff woff2);
@include font-face("Miller Display", "fonts/miller-display/MillerDisplayBold", bold, normal, eot svg ttf woff woff2);
@include font-face("Miller Display", "fonts/miller-display/MillerDisplayLight", 300, normal, eot svg ttf woff woff2);

@include font-face("Miller Banner", "fonts/miller-banner/millerbannerregularroman", normal, normal, eot svg ttf woff woff2);
@include font-face("Miller Banner", "fonts/miller-banner/millerbanneritalic", normal, italic, eot svg ttf woff woff2);
@include font-face("Miller Banner", "fonts/miller-banner/millerbannerregularbold", bold, normal, eot svg ttf woff woff2);
@include font-face("Miller Banner", "fonts/miller-banner/millerbannerregularlight", 300, normal, eot svg ttf woff woff2);
@include font-face("Miller Banner", "fonts/miller-banner/millerbannerregularlightitalic", 300, italic, eot svg ttf woff woff2);
@include font-face("Miller Banner", "fonts/miller-banner/millerbannerregularbold", bold, normal, eot svg ttf woff woff2);
@include font-face("Miller Banner", "fonts/miller-banner/millerbannerregularsemibold", 600, normal, eot svg ttf woff woff2);
@include font-face("Miller Banner", "fonts/miller-banner/millerbannerregularsemibolditalic", 600, italic, eot svg ttf woff woff2);
