// Global
$font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen-Sans", "Ubuntu", "Cantarell", "Helvetica Neue", sans-serif !default;
$font-family-serif: "Miller Text", Merriweather, Georgia, serif !default;
$headings-font-family: "Miller Display", Merriweather, Georgia, serif;
$big-font-family: "Miller Banner", Merriweather, Georgia, serif;

$font-family-base: $font-family-serif;

$brand-primary: #5ca7a5 !default;
$brand-secondary: #cc5856 !default;
$brand-tertiary: #cc5856 !default;
$gray-dark: #38595E;
$color-font-body: $gray-dark !default;
$body-bg: #f6f6f6 !default;
$body-color: $gray-dark !default;
$link-color: $brand-primary;
$body-color: $color-font-body !default;
