

@import "fonts";

// Variables
@import "variables";
@import "../node_modules/bootstrap/scss/variables";

// Mixins / Normalize
@import "../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/normalize";
@import "../node_modules/bootstrap/scss/print";
@import "../node_modules/bootstrap/scss/reboot";
@import "../node_modules/bootstrap/scss/grid";
// @import "../node_modules/bootstrap/scss/type";


@import '../node_modules/gutenberg-web-type/src/style/gutenberg-config';

@import '../node_modules/gutenberg-web-type/src/style/mixins/font-size';
@import '../node_modules/gutenberg-web-type/src/style/mixins/line-height';
@import '../node_modules/gutenberg-web-type/src/style/mixins/margin';
@import '../node_modules/gutenberg-web-type/src/style/mixins/padding';

@import '../node_modules/gutenberg-web-type/src/style/helpers/alignment';
// @import '../node_modules/gutenberg-web-type/src/style/helpers/grid';

@import '../node_modules/gutenberg-web-type/src/style/layout/aside';
@import '../node_modules/gutenberg-web-type/src/style/layout/base';
@import '../node_modules/gutenberg-web-type/src/style/layout/footer';
@import '../node_modules/gutenberg-web-type/src/style/layout/header';
@import '../node_modules/gutenberg-web-type/src/style/layout/main';
@import '../node_modules/gutenberg-web-type/src/style/layout/section';

@import '../node_modules/gutenberg-web-type/src/style/modules/anchor';
@import '../node_modules/gutenberg-web-type/src/style/modules/article';
@import '../node_modules/gutenberg-web-type/src/style/modules/audio';
@import '../node_modules/gutenberg-web-type/src/style/modules/canvas';
@import '../node_modules/gutenberg-web-type/src/style/modules/code';
@import '../node_modules/gutenberg-web-type/src/style/modules/details';
@import '../node_modules/gutenberg-web-type/src/style/modules/figure';
@import '../node_modules/gutenberg-web-type/src/style/modules/form';
@import '../node_modules/gutenberg-web-type/src/style/modules/heading';
@import '../node_modules/gutenberg-web-type/src/style/modules/horizontal-rule';
@import '../node_modules/gutenberg-web-type/src/style/modules/image';
@import '../node_modules/gutenberg-web-type/src/style/modules/list';
@import '../node_modules/gutenberg-web-type/src/style/modules/navigation';
@import '../node_modules/gutenberg-web-type/src/style/modules/progress';
@import '../node_modules/gutenberg-web-type/src/style/modules/quote';
@import '../node_modules/gutenberg-web-type/src/style/modules/table';
@import '../node_modules/gutenberg-web-type/src/style/modules/template';
@import '../node_modules/gutenberg-web-type/src/style/modules/text';
@import '../node_modules/gutenberg-web-type/src/style/modules/video';
// @import "../node_modules/gutenberg-web-type/src/style/gutenberg.scss";


// Structure
@import "layout/global";
@import "layout/container";
@import "layout/header";
@import "layout/content";
@import "layout/footer";

// Components
@import "components/buttons";

// Pages
@import "pages/home";
